body {
    background: black;
}
.header {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px green;
    background: rgb(102,122,161);
    background: linear-gradient(90deg, rgba(102,122,161,1) 0%, rgba(79,122,190,1) 35%, rgba(135,114,208,1) 59%, rgba(91,54,161,1) 100%);
}
.header__nav {
    display: flex;
    vertical-align: middle;
    
}
.header__div {
    width: 70%;
}
.header__div h1 {
    font-family: Arial;
    color: white;
}
.header__nav li {
    width: auto;
    display: block;
    text-align: right;
    margin-left: auto;
    align-self: center;
    padding: 0;
    font-size: 23px;
    color: white;
}